{% load static %} <!-- загружаем папку статик -->

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{% static 'pnds_mtpltlb/panda-svgrepo-com.svg' %}">
        <title>Pandas&Matplotlib</title>
    </head>

    <body>
        <div id="start"></div>
        <div class="container">
            <form class="col" method="POST" action="{% url 'gohome' %}">
                <br>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg align-self-center">
                        <button class="btn btn-primary"
                                type="submit"
                                name="Analysis_Model"
                                id="Analysis_Model"
                                value="analysis">импорт и анализ данных
                        </button>
                    </div>
                    <div class="col align-self-center">
                        <button class="btn btn-primary"
                                type="submit"
                                name="ShowWebTab_Model"
                                id="ShowWebTab_Model"
                                value="show_web_tab">показать веб-таблицу
                        </button>
                    </div>
                    <div class="col align-self-center">
                        <button class="btn btn-success"
                                type="submit"
                                name="SendDateGS_Model"
                                id="SendDateGS_Model"
                                value="send_data">отправить данные в Google Sheets
                        </button>
                    </div>

                    <div class="col align-self-center">
                        <button class="btn btn-outline-secondary"
                                type="submit"
                                name="CreatePlot_Model"
                                id="CreatePlot_Model"
                                value="create_plot">создать графики рассеяния
                        </button>
                    </div>
                    <div class="col-lg-1 align-self-center">
                        <button class="btn btn-outline-secondary"
                                type="submit"
                                name="ShowPlot_Model"
                                id="ShowPlot_Model"
                                value="show_plot">показать графики
                        </button>
                    </div>

                    <div class="col-lg-4 align-self-center">
                        <b> Статус: {{ now }}
                            {% if name == "у вас нет графиков" %}
                                <font color="red">{{ name }}</font>
                            {% elif name == "name 'DT' is not defined" %}
                                <font color="red">сначала импортируйте данные и проведите анализ</font>
                            {% elif name == "данные успешно отправлены в Google Sheets" %}
                                <font color="green">{{ name }}</font>
                                <a class ="nav-link"
                                   href="https://docs.google.com/spreadsheets/d/19WU-rV31bktdBMZR1RM-ODJuuHamwcKaplPAJ-LEItY/edit#gid=0"
                                   target="_blank">
                                    <font color="blue">Перейти к таблице в Google Sheets </font></a>
                            {% elif  name == "импорт входных данных Google Sheets, анализ данных - завершен" %}
                                <font color="green">{{ name }}</font>
                            {% elif  name == "графики рассеяния успешно созданы" %}
                                <font color="green">{{ name }}</font>
                            {% elif  name == "show plot" or name == "применена сортировка по умолчанию" or name == "применена сортировка пользователя" %}
                                <font color="green">{{ name }}</font>
                            {% elif  name == "web таблица успешно загружена" or name == "home" %}
                                <font color="green">{{ name }}</font>
                            {% else %}
                                <font color="red">{{ name }}</font>
                            {% endif %}
                        <b>
                    </div>
                </div>

            </div>


            </form>
        </div>


            <br>
            <br>
        <div class="container">
            {% block content %} {% endblock %}
        </div>

        <br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>


</html>